<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="joint.css">
  <title>ER diagram drawing</title>
</head>
<body>
  <div id="paper" class="paper"></div>
  <script type="text/javascript" src="joint.js"></script>
  <script type="text/javascript" src="joint.shapes.erd.js"></script>
  <script type="text/javascript" src="er.js"></script>
</body>
</html>
