doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/joint/joint.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/lodash.3.2.0.min.js')

  body
    h1= title
    div#paper.paper
    script(type='text/javascript' src='/joint/joint.js')
    script(type='text/javascript' src='/joint/joint.shapes.erd.js')
    script(type='text/javascript' src='/joint/er.js')
