extends layout

block content

  img(src='/images/icon.jpg', style='float:left; width: 13%; height:13%')
  h1= title
  br


  // ----------------------------------------- -----------------------------------------
  // First Step: add varialbe
  // ----------------------------------------- -----------------------------------------
  div(id='attribute_area')
    h2 Step 1: Enter your attributes one by one, separate them using comma.

    div(id='step1')
      div(id='step1_sub')
        input(id='var_inputbox1', type="text", class='var_inputbox', autofocus='autofocus') 
          
    button(id='clear_variables', class='button', onclick='clearVariables()', style='left:65%') Clear 
    br
    textarea(id='variable_output', class='box_output', disabled, style='display:none')


  // ----------------------------------------- -----------------------------------------
  // Second Step: add functional dependency
  // ----------------------------------------- -----------------------------------------
  div(id='fd_area')
    h2 Step 2: Drag and drop your attributes down into the dependency relationships.
      
    div(id='step2')

      div(id='step2_lhs', ondrop="drop(event)" ondragover="allowDrop(event)")
      div(id='step2_arrow')
        img(src='/images/arrow.png', width='80', height='70')
      div(id='step2_rhs', ondrop="drop(event)" ondragover="allowDrop(event)")
        
    button(id='confirm_relation', class='button', onclick='addRelation()', style='left:35.5%') Confirm
    button(id='clear_relation', class='button', onclick='clearRelations()', style='left:35.5%') Clear  
    br
  br
  br

  div(id='confirmed_fd', style='display:none')
    textarea(id='relation_output', class='box_output', disabled)
    br  
    button(id='clear_relation_output', class='button', onclick='clearRelationOutputs()', style='width:15%; height:80px; margin-top:3%; margin-left:5px') Clear
    br


  br
  br
  br
  ul(id="tabs")
    li(role="feature1")
      a(href='#feature1') Feature 1

    li(role="feature2") 
      a(href='#feature2') Feature 2

  div(class="tabContent", id="feature1")
    h2 Feature 1:
    p Input attributes and functional dependencies. Tables will be generated based on the choice of method.
    // Select normalization method
    h2 Step 3: Select decomposition method.
    button(id='Decomposition' class='relation_option_button', chosen='0') BCNFDecomposition
    button(id='Berstein' class='relation_option_button', chosen='0') Bernstein
    button(id='BersteinSelf' class='relation_option_button', chosen='0') Bernstein Self Improved
    button(id='LTK' class='relation_option_button', chosen='0') LTK
    div
      h2 Step 4: Process
      button(class='process_button', class='button2') Process
    br
    br
    br

    div
      h2 Step 5: Results
      div#output-algo-1
      //textarea(id='result_output', class='result_output', disabled)
      div#output-result-div
      div#step-message

    br
    br

  div(class="tabContent", id="feature2")
    h2 Feature 2:
    p Input attributes, functional dependencies and tables. The system will determine which normalization forms the database schema is in.
    // Input new table
    h2 Step 3: Design your table.
    button(id='add_table', class='button2', onclick='showPopup();createVarSelect()') Add New Table
    button(id='clear_tables', class='button2', style='display: none;') Clear
    div(id='table_area')

    div
      h2 Step 4: Process
      button(class='process_button', class='button2') Process
    br
    br
    br

    div
      h2 Step 5: Results
      div#output-algo-2
      div#output-result-div-2
    br
    br

  div(class="overlay-bg")
  div(class="overlay-content popup")
    form(name="input", action="action_page.php", method="get")
      | Table Name:
      input(id='new_table_name', type="text", name="tableName")
      br
      | Choose Attributes:
      select(multiple class="form-control", id='Var_Select')
        // Options are set in 'pageManager.js'
      br
      br
    button(class="button2", onclick='createTable()') Submit
    button(class="button2", onclick='closePopup()') Close

  br

  
