doctype html
html
  head
    title= title
    
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='/javascripts/lodash.3.2.0.min.js')
    script(src='/javascripts/supportFunction.js')
    script(src='/javascripts/LTK.js')
    script(src='/javascripts/BCNFDecomposition.js')
    script(src='/javascripts/utility.js')
    script(src='/javascripts/dbtester.js')
    script(src='/javascripts/bernstein-arr.js')
    script(src='/javascripts/process.js')
    script(src='/javascripts/pageManager.js')
    script(src='/javascripts/popup.js')
    //script(src='/javascripts/bootstrap.js')    
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/plugins/morris.css')
    //link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')

  body
    block content

    script(src='/javascripts/tab.js')
