doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lodash.3.2.0.min.js')
    script(src='/javascripts/pageManager.js')

  body
    block content
