body {
  height:100%;
  margin:0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  padding: 0px;
  font: 60px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-left: 200px;
}

h2 {
  padding: 2px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
  bottom: 0px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * For ID: #xx
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Area for user's input Attributes: contains input box and button; */
#attribute_area{
  width: 45%;
  height: 240px;
  float: left;
}
/* Area for input box */
#step1 {
  width: 95%;
  height: 100%;
  border: 1px solid black;
  background: #f1f0ee;
}
#step1_sub {
  position: relative;
  height: 100%;
  top: 1px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  //border: 1px solid black; 
}
.var_inputbox {
  float: left;
  background: #f1f0ee;
  //color: #000000;
  width: 20%;
  cursor: text;
  border: 0px;
  margin: 3px;
  resize: none;
  outline: none;
  font-family: "arial";
  font-size: 18px;
  padding: 1px;
}
.var_node {
  background: rgb(33, 178, 102);
  float: left;
  border: 1px solid black;
  width: 50px;
  height: 22px;
  margin: 3px;
  font-family: "arial";
  font-size: 18px;
  padding: 1px;
  border-radius: 4px;
}

/* Area for user's input Attributes: contains input box and button; */
#fd_area{
  width: 50%;
  float: left;
  margin-left: 5%;
}

#step2 {
  background: #f1f0ee;
  width: 95%;
  height: 240px;
  border: 1px solid black;
}

#step2_lhs {
  background: #f1f0ee;
  float: left;
  position: relative;
  top: 10%;
  left: 5%;
  width: 35%;
  height: 180px;
  border: 1px solid black;
}

#step2_arrow {
  float: left;
  position: relative;
  top: 75px;
  left: 7%;
}

#step2_rhs {
  background: #f1f0ee;
  float: right;
  position: relative;
  top: 10%;
  right: 5%;
  width: 35%;
  height: 180px;
  border: 1px solid black;
}

ul#tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; }
ul#tabs li { display: inline; }
ul#tabs li a { color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; }
ul#tabs li a:hover { background-color: #f1f0ee; }
ul#tabs li a.selected { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; }
div.tabContent { border: 1px solid #c9c3ba; padding: 0.5em; background-color: #f1f0ee; }
div.tabContent.hide { display: none; }



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * For Class: .xx
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* For Confirm/Clear buttons */
.button {
  //display: inline-block;
  //float: right;
  position: relative;
  margin-left: 30px;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 25%;
  height: 50px;
  font-family: arial;
  font-size: 20px;
  background: #ffffff;
  border:2px solid #1b9254;
  border-radius: 6px;
}
.button2{
  position: relative;
  margin-left: 5%;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 150px;
  height: 50px;
  font-family: arial;
  font-size: 14px;
  background: #ffffff;
  border:2px solid #1b9254;
  border-radius: 6px;
  font-weight: bold;
}
/* */
.box_output {
  font-size: 16px;
  width: 83%;
  height: 80px;
  margin-top: 3%;
  resize: none;
  float: left;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * Pop up window for table input.
 */
.main-content {
  height: 800px;
  width: 1000px;
  margin: 0 auto;
}

.overlay-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    cursor: pointer;
    z-index: 1000; /* high z-index */
    background: #000; /* fallback */
    background: rgba(0,0,0,0.75);
}
    .overlay-content {
        display: none;
        background: #fff;
        padding: 1%;
        width: 40%;
        position: absolute;
        top: 15%;
        left: 50%;
        margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
        cursor: default;
        z-index: 10001;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0,0,0,0.9);
    }
 
    .close-btn {
        cursor: pointer;
        border: 1px solid #333;
        padding: 2% 5%;
        background: #a9e7f9; /* fallback */
        background: -moz-linear-gradient(top,  #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e7f9), color-stop(4%,#77d3ef), color-stop(100%,#05abe0));
        background: -webkit-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
        background: -o-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
        background: -ms-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
        background: linear-gradient(to bottom,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
        border-radius: 4px;
        box-shadow: 0 0 4px rgba(0,0,0,0.3);
    }
    .close-btn:hover {
        background: #05abe0;
    }

#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  z-index: 1000;
  background-image:url(/images/background-trans.png);
}

#overlay div {
  width:300px;
  margin: 100px auto;
  background-color: #fff;
  border:1px solid #000;
  padding:15px;
  text-align:center;
}








#result_output {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;

  width: 785px;
  height: 50px;
  resize: none;
}



#select_option {
  float: left;
  height: 30px;
  width: 90px;
  margin: 10px;
  margin-left: 20px;
  font-size: 14px;
}


/* For BCNF-decomposition, Berstein, Improved Ver, LTK buttons */
.relation_option_button{
  margin-left: 5%;
  width: 18%;
  height: 50px;
  font-family: arial;
  font-size: 15px;
  background: #ffffff;
  border:2px solid #1b9254;
  border-radius: 6px;
  font-weight: bold;
}


/* Used for display the table input from user*/
.table {
  width: 60%;
  max-width: 100%;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-top: 10px;
  margin-bottom:  10px;
  display: table;
  border-collapse: separate;
}
.table_head {
  text-align: middle;
  width: 60%;
  max-width: 100%;
  border-bottom: 1px solid #dddddd;
}
.tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.th {
  width: 20%;
  background: rgb(155,155,155);;
  display: table-cell;
  vertical-align: inherit;
}

.relation-option-selected {
  background-color: #1b9254;
}

.relation-option-unselected {
  background-color: rgb(255, 255, 255);
}


/* Used for display the final result */
.output_result {
  background: rgb(250,250,250);

  border: 2px solid #1b9254;
  border-collapse: collapse;
  border-radius: 4px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 2px #1b9254; /* this draws the table border  */ 

  width: 90%;
  height: 50px;
  margin-left: 5%;

  font-family: "arial";
  font-size: 16px;

  text-align:center; 
  vertical-align:middle;  

}
.output_result td,
.output_result th {
  border: 2px solid #1b9254;
  border-radius: 3px;
  height: 50px;
  font-weight: bold;
  text-align:center; 
  vertical-align:middle;
}
.output_result tr {
  height: 50px;
  text-align:center; 
  vertical-align:middle;
}


#step-message {
  margin-top: 20px;
  margin-left: 5%;
  font-family: "arial";
  font-size: 14px;
}

.test-is-true {
  background-color: #1b9254;
}

.test-is-false {
  background-color: #d9534f;
}
